*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 body {
    margin: 5% 10%; 
    width: 100vw;
    height: 100vh;
    font-size: 12pt ;
    font-family: 'Spartan';
    
} 
.container__form {
                  grid-area: form; 
                  
                }
.content__graph { 
                grid-area: graph; 
                width: 60%;
                margin-bottom: 5%;
            }
.container__table {grid-area: tabl;}

.container {
    display: grid;
    grid-template-areas:
    'form form graph graph'
    'tabl tabl tabl tabl'
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    
}
td, th {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
    font-size: 18px;
}
tr:nth-child(even) {
    background-color: #ddd;;
}
th {
    background-color: #5452d4;
    color: #ddd;
    height: 50px;
}
.main__form {
    width: 80%;
    border-radius: 10px;
    border: 2px solid #5452d4;
    background: #f8f4e5;
    box-shadow: 0 0 40px 0 #ddd;
}
.body__form {
    padding: 50px 100px;
}
.header__form {
    background-color: #5452d4;
    color: #ddd;
    font-size: 16pt;
    padding: 5%;
    text-align: center;
    margin:0%;
}

.label, .input {
    margin: 5%;
    display: block;
    width: 80%;
    font-size: 14pt;
    font-family: 'Spartan';
}
.label {
    color: #532dac;
    font-weight: bold;
}
.input {
    margin-bottom: 14pt;
}
.input {
    border: none;
    border: 1px solid #5452d4;
    border-radius: 3px;
    background: #f8f4e5;
    padding-left: 5px;
    outline: none;
}
.input:hover {
    background-color: hsl(241, 60, 38);
}
.lyrics, .result {
    color: #5e5850;
    text-align: center;
    font-size: 14pt;
    padding-bottom: 5%;
}
.result {
    text-align: left;
}

.button {
    display: block;
    float: right;
    line-height: 14pt;
    margin-top: 5%;
    padding: 10px 20px;
    border: none;
    background: #5452d4;
    color: white;
    letter-spacing: 2px;
    transition: .2s all ease-in-out;
    border-bottom: 2px solid transparent;
    margin: 5%;
}
.error {
    background-color: #e4534c;
    text-align: center;
    padding: 1%;
    color: white;
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: bold;
  }
.sub__title {
    font-weight:bold;
    font-size: 18pt;
    line-height: 14pt;
    margin: 0 0 .5em 0;
    color: #532dac;
    text-align:left;
    padding-top: 2%;
}

  
 
